{% extends 'core/base.html' %}

{% block title %} Funcionários {% endblock title %}
{% block pagina_anterior %}RH{% endblock pagina_anterior %}
{% block pagina_atual %}Funcionários{% endblock pagina_atual %}
{% block pagina %}Funcionarios{% endblock pagina %}


{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <a class="mt-1 btn btn-sm btn-success" href="{% url 'rh:cadastrar_funcionario' %}"><i class="fe fe-plus"></i> Cadastrar</a>
                <a class="mt-1 btn btn-sm btn-warning" href="{% url 'rh:exportar_funcionarios' %}"><i class="fe fe-file-text"></i> Exportar</a>
                <a class="mt-1 btn btn-sm btn-primary" href="{% url 'rh:folha_pagamento' %}"><i class="fa fa-usd"></i> Folha de Pgto</a>
                <a class="mt-1 btn btn-sm btn-dark" href=""><i class="fa fa-usd"></i> Folha de Diárias</a>
                <a class="btn btn-sm btn-info mt-1" href=""><i class="fa fa-umbrella"></i> Mapa de Férias</a>

            </div>
        </div>
    </div>


    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Funcionários Ativos</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table tab]le-bordered text-nowrap border-bottom" id="tabela-funcionarios">
                        <thead>
                            <tr>
                                <th class="wd-15p border-bottom-0">Nome</th>
                                <th class="wd-15p border-bottom-0">ID</th>
                                <th class="wd-15p border-bottom-0">CPF</th>
                                <th class="wd-20p border-bottom-0">Departamento</th>
                                <th class="wd-15p border-bottom-0">Data Admissão</th>
                                <th class="wd-25p border-bottom-0">E-mail</th>
                                <th style="width: 5%;">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for funcionario in funcionarios %}
                                <tr>
                                    <td>{{ funcionario.nome }}</td>
                                    <td>{{ funcionario.id }}</td>
                                    <td>{{ funcionario.cpf }}</td>
                                    <td>{{ funcionario.departamento }}</td>
                                    <td>{{ funcionario.obter_data_admissao }}</td>
                                    <td>{{ funcionario.email }}</td>
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-primary" href="{% url 'rh:editar_funcionario' funcionario_id=funcionario.id %}"><i class="fa fa-edit"></i> Editar</a>
                                        <button 
                                            type="button" 
                                            funcionario-id="{{ funcionario.id }}" 
                                            class="btn btn-sm btn-danger btn-excluir-funcionario">
                                            <i class="fa fa-trash"></i> 
                                            Excluir
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                                
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block scripts %}
<script>
    init_datatable("tabela-funcionarios");

    $(".btn-excluir-funcionario").click(function(){
        const funcionario_id = $(this).attr("funcionario-id");

        const deletar = confirm("Confirmar exclusão?");

        if (deletar){
            const endpoint = `/rh/funcionarios/excluir/${funcionario_id}`;

            $.ajax({
                url: endpoint,
                type: 'DELETE',
                success: function(result) {
                    window.location.reload();
                }
            });
        }
    })
</script>
{% endblock scripts %}
    