{% extends 'core/base.html' %}

{% block title %} Recepção {% endblock title %}
{% block pagina_anterior %}Almoxarifado{% endblock pagina_anterior %}
{% block pagina_atual %}Recepção{% endblock pagina_atual %}
{% block pagina %}Recepção{% endblock pagina %}


{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Compras</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap border-bottom" id="tabela-compra">
                        <thead>
                            <tr>
                                <th class="wd-15p border-bottom-0">ID</th>
                                <th class="wd-15p border-bottom-0">Data</th>
                                <th class="wd-15p border-bottom-0">Fornecedor</th>
                                <th class="wd-15p border-bottom-0">Centro de Custo</th>
                                <th class="wd-15p border-bottom-0">Descrição</th>
                                <th class="wd-15p border-bottom-0">Valor Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for compra in compras %}
                                <tr>
                                    <td>{{ compra.id }}</td>
                                    <td><a href="{% url 'almox:recepcao' compra_id=compra.id %}">{{ compra.data|date:'d/m/Y' }}</a></td>
                                    <td>{{ compra.fornecedor }}</td>
                                    <td>{{ compra.centro_custo }}</td>
                                    <td><a href="{% url 'almox:recepcao' compra_id=compra.id %}">{{ compra.descricao }}</a></td>
                                    <td>{{ compra.valor_total }}</td>
                                </tr>
                            {% endfor %}
                                
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    