<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered text-nowrap border-bottom" id="item-tabela">
                        <thead>
                            <tr>
                                <th class="wd-15p border-bottom-0">ID</th>
                                <th class="wd-15p border-bottom-0">Funcionario</th>
                                <th class="wd-15p border-bottom-0">Qtd</th>
                                <th class="wd-15p border-bottom-0">Saída</th>
                                <th class="wd-15p border-bottom-0">Devolução</th>
                                <th class="wd-15p border-bottom-0">Devolvido</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for e in emprestimos %}
                                <tr>
                                    <td>{{ e.id }}</td>
                                    <td>{{ e.funcionario }}</td>
                                    <td>{{ e.quantidade }}</td>
                                    <td>{{ e.obter_data_emprestimo }}</td>
                                    <td>{{ e.obter_data_devolucao }}</td>
                                    <td>{{ e.devolvido }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>