<div class="col-12">
    <div class="card">
        <div class="card-body">
            <a class="mt-1 btn btn-sm btn-primary" href="{% url 'financeiro:movimentacoes' %}"><i class="fe fe-plus"></i> Movimentações</a>
            <a class="mt-1 btn btn-sm btn-danger" href="{% url 'financeiro:contas_pagar' %}"><i class="fe fe-file-text"></i> Contas A Pagar</a>
            <a class="mt-1 btn btn-sm btn-success" href="{% url 'rh:folha_pagamento' %}"><i class="fa fa-usd"></i> Contas a Receber</a>
            <a class="mt-1 btn btn-sm btn-secondary" href=""><i class="fa fa-usd"></i> Gráficos</a>
            <a class="btn btn-sm btn-info mt-1" href=""><i class="fa fa-umbrella"></i> Relatórios</a>

        </div>
    </div>
</div>