{% extends 'core/base.html' %}

{% block title %} OS {% endblock title %}
{% block pagina_anterior %}.{% endblock pagina_anterior %}
{% block pagina_atual %}OS{% endblock pagina_atual %}
{% block pagina %}OS{% endblock pagina %}


{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <a class="mt-1 btn btn-sm btn-success" href="{% url 'servico:cadastrar' %}"><i class="fe fe-plus"></i> Cadastrar</a>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">OS's</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap border-bottom" id="os-tabela">
                        <thead>
                            <tr>
                                <th class="wd-15p border-bottom-0">ID</th>
                                <th class="wd-15p border-bottom-0">Data</th>
                                <th class="wd-15p border-bottom-0">Cliente</th>
                                <th class="wd-15p border-bottom-0">Descrição</th>
                                <th class="wd-15p border-bottom-0">Valor</th>
                                <th class="wd-15p border-bottom-0">Pago</th>
                                <th style="width: 5%;">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for os in ordens %}
                                <tr>
                                    <td>{{ os.id }}</td>
                                    <td>{{ os.data|date:'d/m/Y' }}</td>
                                    <td>{{ os.cliente }}</td>
                                    <td><a href="{% url 'servico:detalhe_os' os_id=os.id %}">{{ os.descricao }}</a></td>
                                    <td>R$ {{ os.valor }}</td>
                                    <td>{{ os.pago }}</td>
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-primary" href=""><i class="fa fa-edit"></i> Editar</a>
                                        <button 
                                        type="button" 
                                        servico-id="{{ s.id }}" 
                                        class="btn btn-sm btn-danger btn-excluir-servico">
                                        <i class="fa fa-trash"></i> 
                                        Excluir
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block scripts %}
<script>
init_datatable("os-tabela");

$('.btn-excluir-servico').click(function(){
    const servico_id = $(this).attr('servico-id')
    const endpoint = `/servicos/deletar/${servico_id}/`
    const confirmar = confirm('Você realmente quer deletar este serviço?')
    
    if (confirmar){
        $.ajax({
            url: endpoint,
            type: 'DELETE',
            success: function(result) {
                window.location.reload();
            }
        });
    }
})
</script>
{% endblock scripts %}